<div class="login-container">
    <mat-card class="login-card">
      <mat-card-title>Host Hike</mat-card-title>
      
      <mat-card-content>
        <form [formGroup]="form" class="example-form">
            
            <p>Country: {{ hikeSpot.country }}</p>
            <p>Hike Spot: {{ hikeSpot.name }}</p>
          
            
            <mat-form-field appearance="fill">
              <mat-label>Time of Hike</mat-label>
              <input matInput type="datetime-local" formControlName="dateAndTime" (change)="generateSunTimings()">
              <br>
              <mat-error *ngIf="form.get('dateAndTime')?.hasError('required')">
                Compulsory
              </mat-error>
              <mat-error *ngIf="form.get('dateAndTime')?.hasError('timeStateCheck')">
                Ensure Future Date
              </mat-error>
            </mat-form-field>
          
            
            <mat-form-field appearance="fill">
              <mat-label>Sun Rise Time</mat-label>
              <input matInput readonly type="datetime-local" formControlName="sunriseTime">
            </mat-form-field>
          
            
            <mat-form-field appearance="fill">
              <mat-label>Sun Set Time</mat-label>
              <input matInput readonly type="datetime-local" formControlName="sunsetTime">
            </mat-form-field>
            <br>
            
            <button mat-raised-button color="primary" (click)="hostHike()" [disabled]="form.invalid">
              Host
            </button>
            <button mat-raised-button color="warn" [routerLink]="['/home']">
                Back
            </button>
          </form>
      </mat-card-content>
    </mat-card>
</div>
